entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["resend:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[userenv]

[userenv.shared]
WALLET_ENCRYPTION_KEY = "4865e88a0501d04f116ccc6d7321fa48353c15067b6ab5e2accf0b52702156ae"
PRIVY_APP_ID = "cmjhn4u9k02o7i60d2d7b6k1b"
PRIVY_CLIENT_ID_MOBILE = "client-WY6UErRq31kaTUPy3u6u1ng56bUC2Na9rEp9yKQRQFGWd"
PRIVY_CLIENT_ID_WEB = "client-WY6UErRq31kaTUPy3u6u1ng56bUC2Na9rEzXaAxBreV1S"
